<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jun.dao.EmployeeDao">
    <insert id="addEmployee">
        insert  into T_EMPLOYEE values (#{em_count},#{em_pass},#{em_position},#{em_indate},#{em_department},#{em_salary})
    </insert>
</mapper>