<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jun.dao.InterViewDao">
    <insert id="addInterView">
        insert  into T_INTERVIEW values (INTERVIEW_SEQ.nextval,#{iv_invit},#{iv_vname},#{iv_rename},#{iv_receive},#{iv_rid},#{iv_date},#{iv_offerDate},#{iv_offerid})
    </insert>
    <update id="updateInterViewReceive">
        update  T_INTERVIEW set IV_RECEIVE=#{iv_receive} where IV_ID=#{iv_id}
    </update>
    <update id="updateInterViewinvit">
         update  T_INTERVIEW set IV_INVIT=#{iv_invit},IV_DATE=#{iv_date} where IV_ID=#{iv_id}
    </update>
    <update id="updateInterViewofferid">
         update  T_INTERVIEW set IV_OFFERID=#{iv_offerid},IV_OFFERDATE=#{iv_offerDate} where IV_ID=#{iv_id}
    </update>

    <select id="getInterViewByiv_vname" resultType="com.jun.model.Interview">
               select  * from T_INTERVIEW where iv_vname=#{iv_vname}
    </select>
    <select id="getInterView" resultType="com.jun.model.Interview">
        select  * from T_INTERVIEW where iv_vname=#{iv_vname} and iv_rename=#{iv_rename}
    </select>
    <select id="getInterViewALL" resultType="com.jun.model.Interview">
        select  * from T_INTERVIEW
    </select>
    <select id="getInterViewByid" resultType="com.jun.model.Interview">
           select  * from T_INTERVIEW where IV_ID=#{iv_id}
    </select>
    <select id="getInterViewByiv_rid" resultType="com.jun.model.Interview">
          select  * from T_INTERVIEW where IV_RID=#{iv_rid}
    </select>
</mapper>
