<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jun.dao.RecruitDao">

    <insert id="addRecruit">
          insert  into  T_RECRUIT values (RECRUIT_SEQ.nextval,#{re_salarylow}, #{re_education},#{re_years},#{re_welfare},#{re_salarytop},#{re_poid},#{re_needs},#{re_address})
    </insert>

    <select id="getRecruitListAll" parameterType="Map" resultType="com.jun.model.Recruit">
        select a.* from ( select T_RECRUIT.* ,rownum rn from T_RECRUIT where rownum &lt;=#{end})a where rn &gt;=#{open}
    </select>
    <select id="getRecruitAll" resultType="com.jun.model.Recruit">
        select *from  T_RECRUIT
    </select>
    <select id="getRecruitByre_id" resultType="com.jun.model.Recruit">
        select *from  T_RECRUIT where re_id=#{re_id}
    </select>
    <select id="getRecruitByre_poid" resultType="com.jun.model.Recruit">
        select *from  T_RECRUIT where RE_POID=#{po_id}
    </select>
</mapper>