<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jun.dao.VistorDao">


    <insert id="addVistor">
        insert into T_VISTOR values (VIS_SEQ.nextval,#{0,jdbcType=VARCAHR},#{1,jdbcType=VARCAHR})
    </insert>

    <select id="getVistor" resultType="com.jun.model.Vistor">
        select * from T_VISTOR
        <where>
            <if test="v_name!=null and v_name!=''">
                and V_NAME=#{v_name}
            </if>
            <if test="v_pass!=null and v_pass!=''">
                and V_PASS=#{v_pass}
            </if>
        </where>
    </select>

</mapper>